<!DOCTYPE html>
<html>

<head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">


	<title>Train Me</title>
</head>

<body>

	<div class="jumbotron">
		<form>
			<input type="text" name="que">
			<br> ans
			<br>

			<input type="submit" name="Ask" class="btn btn-primary">
			<br>
			<input type="text" name="suggested_ans">
			<br>
			<input type="submit" name="submit" class="btn btn-primary">
			<br>
		</form>
	</div>

</body>

</html>